* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.body-top{
  background-color: #009688;
  height: 15vh;
}

.body-bottom{
  background-color: #DADBD5;
  height: 85vh;
}

.chat-container{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80vw;
  height: 90vh;
}


/* NAV */
nav{
  background-color: #FBFAFA;
  width: 25vw;
  height: 90vh;
}

.user-nav, .client-main, .chat-send{
  background-color: #EAE9EB;
  height: 10vh;
  padding: 10px;
}


.user-nav, .client-main, .user-nav-left, .client-main-left, .notif-nav, .client-box-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.notif-nav{
  background-color: lightblue;
  height: 10vh;
  padding: 10px;
}

.user-img, .client-img, .notif-img{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.user-img img, .client-img img{
  width: 100%;
  border-radius: 50%;
}

.notif-img i{
padding-left: 10px;
padding-top: 13px;
font-size: 25px;
color: lightblue;
}

.notif-txt{
  font-size: 15px;
  margin-left: 10px;
  color: grey;
  cursor: pointer;
}

.notif-txt div:first-child{
  font-weight: 500;
  color: black;
}

.notif-txt div:last-child{
text-decoration: underline;
}

.user-nav span{
  font-weight: 700;
  margin-left: 5px;
}

.user-nav-right i, .client-main-right i{
  font-size: 20px;
  margin-right: 10px;
  color: grey;
  cursor: pointer;
}

.user-search{
  margin: 0px 10px;
  padding: 5px;
}

.user-search input{
  width: 100%;
  height: 5vh;
  margin: 0 auto;
  line-height: 20px;
  border: 1px solid white;
  padding-left: 20px;
}

.client{
  height: 65vh;
}

.client-box{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  border-bottom: 1px solid lightgray;
}

.client-box-left div:first-child{
  font-size: 15px;
  font-weight: 700;
}

.client-box-left div:last-child{
  font-size: 15px;
}



main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55vw;
  height: 90vh;
}

.client-main{
  border-left: 1px solid gray;
}

.chat{
  height: 73vh;
  background-image: url(../img/mine.jpg);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chat-user, .chat-client{
  width: 45%;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  
}

.chat-user{
  background-color: #D6FABA;
}

.chat-client{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.chat-user{
  display: flex;
  flex-direction: column;
}
.date, .date-send{
  align-self: flex-end;
  font-size: 12px;
  color: gray;
}

.chat-send{
  background-color: #EAE9EB;
  height: 7vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chat-send input{
  width: 90%;
  height: 4vh;
  border: 1px solid white;
  padding-left: 10px;
}

