* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.body-top{
  background-color: #009688;
  height: 15vh;
}

.body-bottom{
  background-color: #DADBD5;
  height: 85vh;
}

.chat-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80vw;
  height: 90vh;
}