* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.body-top{
  background-color: #009688;
  height: 15vh;
}

.body-bottom{
  background-color: #DADBD5;
  height: 85vh;
}

.chat-container{
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80vw;
  height: 90vh;
}


/* NAV */
nav{
  background-color: rgb(60, 158, 190);
  width: 25vw;
  height: 90vh;
}

.user-nav, .client-main{
  background-color: #EAE9EB;
  height: 10vh;
  padding: 10px;
}

.user-nav, .client-main, .user-nav-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-main{
  border-left: 1px solid gray;
}

.notif-nav{
  background-color: lightblue;
  height: 10vh;
}

.user-img{
  width: 50px;
  height: 50px;
}

.user-img img{
  width: 100%;
  border-radius: 50%;
}

.user-nav span{
  font-weight: 700;
  margin-left: 5px;
}

.user-nav-right i{
  font-size: 20px;
  margin-right: 10px;
  color: grey;
}


main{
  background-color: blue;
  width: 55vw;
  height: 90vh;
}