<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Whatsapp</title>
    <link rel="icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="https://static.whatsapp.net/rsrc.php/v3/yP/r/rYZqPCBaG70.png">
  </head>
  <body>
    <div id="app" class="container">
      <div class="body-top"></div>
      <div class="body-bottom"></div>
      <div class="chat-container">

        <nav>
          
          <div class="user-nav">

            <div class="user-nav-left">

              <div class="user-img">
                <img src="img/avatar_8.jpg" alt="">
              </div>
              <span>Beppe</span>

            </div>

            <div class="user-nav-right">

              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>


            </div> 

          </div>

          <div class="notif-nav">
            <div class="user-nav-left">

              <div class="notif-img">
                <i class="fas fa-bell-slash"></i>
              </div>

              <div class="notif-txt">

                <div>Ricevi notifiche di nuovi messaggi</div>
                <div>Attiva notifiche desktop</div>

              </div>

            </div>

          </div>

          <div class="user-search">
            <input type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
          
          <div class="client">

            <div class="client-box" 
            v-for="(contact, index) in contacts"
            @click="counter = index">

              <div class="client-box-left">

                <div class="client-img">
                  <img :src="contact.img" alt="">
                </div>
                <div>
  
                  <div>{{contact.name}}</div>
                  <div>{{contact.messages[contact.messages.length - 1].text.slice(0, 25)}}...</div>
  
                </div>
                  
  
              </div>
  
              <div class="client-box-right">
  
                <div class="date">{{contact.messages[contact.messages.length - 1].data}}</div>

            </div>

          </div>
           
          </div>

            

        </nav>

        <main>
          <div class="client-main">

            <div class="client-main-left">

              <div class="client-img">
                <img :src="contacts[counter].img" alt="">
              </div>
              <div>

                <div>{{contacts[counter].name}}</div>
                <div class="date">Ultimo accesso oggi alle 
                  {{contacts[counter].messages.data}}</div>

              </div>
                

            </div>

            <div class="client-main-right">

              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>


            </div>

          </div>

          <div class="chat">

            <div 
            v-for="(message, index) in contacts[counter].messages"
            :class="[message.stato === 'inviato' ? 'chat-client' : 'chat-user']">

              <div >
                {{message.text}}
              </div>

              <div class="date-send">
                {{message.data}}
              </div>
              
            </div>
          </div>

          <div class="chat-send">

            <i class="far fa-smile"></i>
            <input type="text" placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone"></i>
            </div>

          </div>

        </main>
      </div>
    </div>
  

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>