<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Whatsapp</title>
    <link rel="icon" href="images/favicon.ico"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="https://static.whatsapp.net/rsrc.php/v3/yP/r/rYZqPCBaG70.png">
  </head>
  <body>
    <div id="app" class="container">
      <div class="body-top"></div>
      <div class="body-bottom"></div>
      <div class="chat-container">

        <nav>
          
          <div class="user-nav">

            <div class="user-nav-left">

              <div class="user-img">
                <img src="img/avatar_1.jpg" alt="">
              </div>
              <span>Nome Utente</span>

            </div>

            <div class="user-nav-right">

              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>


            </div>

          
              

          </div>

          <div class="notif-nav">
            <div class="user-nav-left">

              <div class="notif-img">
                <i class="fas fa-bell-slash"></i>
              </div>

              <div class="notif-txt">

                <div>Ricevi notifiche di nuovi messaggi</div>
                <div>Attiva notifiche desktop</div>

              </div>

            </div>

          </div>

          <div class="user-search">
            <input type="text" placeholder="Cerca o inizia una nuova chat">
          </div>
          
          <div class="client">

            <div class="client-box" 
            v-for="(contact, index) in contacts">

              <div class="client-box-left">

                <div class="client-img">
                  <img :src="contact.img" alt="">
                </div>
                <div>
  
                  <div>{{contact.name}}</div>
                  <div>{{contact.messages[contact.messages.length - 1].text.slice(0, 25)}}...</div>
  
                </div>
                  
  
              </div>
  
              <div class="client-box-right">
  
                <div class="date">{{contact.messages[contact.messages.length - 1].data}}</div>

            </div>

          </div>
            <!-- <div class="contact-user">
              <div class="contact-box" 
              v-for="(contact, index) in contacts">
                <div class="left-contact-box">
                  <img :src="contact.img" alt="">
                  <div class="contact-box-text">
                    <h3>{{contact.name}}</h3>
                    <p>{{contact.messages[contact.messages.length - 1].text.slice(0, 15)}}...</p>
                  </div>
                </div>
                <div class="right-contact-box">
                  <p>{{contact.messages[contact.messages.length - 1].data}}</p>
                </div>
              </div>
            </div> -->
          </div>

            

        </nav>

        <main>
          <div class="client-main">

            <div class="client-main-left">

              <div class="client-img">
                <img src="img/avatar_2.jpg" alt="">
              </div>
              <div>

                <div>Nome Utente</div>
                <div class="date">Ultimo accesso oggi alle 10/01/2020 16:15:22</div>

              </div>
                

            </div>

            <div class="client-main-right">

              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>


            </div>

          </div>

          <div class="chat">

            <div class="chat-user">
              <div>Ciao</div>
              <div class="date-send">12/12/12</div>
            </div>

            <div class="chat-client">
              <div>Ehi!</div>
              <div class="date-send">12/12/12</div>
            </div>

            <div class="chat-user">
              <div>Ciao</div>
              <div class="date-send">12/12/12</div>
            </div>

            <div class="chat-client">
              <div>Ehi!</div>
              <div class="date-send">12/12/12</div>
            </div>
            
          </div>

          <div class="chat-send">

            <i class="far fa-smile"></i>
            <input type="text" placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone"></i>
            </div>

          </div>

        </main>
      </div>
    </div>
  

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>